.heading {
    text-transform: uppercase;
    text-align: center;
    margin: 4vw 0 2vw 0;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}