* {
    box-sizing: border-box;

}
:root {
    --big-one: calc(1rem * (1.33*1.33*1.33*1.33*1.33*1.33));
    --big-height: calc(var(--big-one)*1.22);

    --h1 :  calc(1rem * (1.33*1.33*1.33));
    --h1-height: calc(var(--h1)*1.77);

    --h2 :  calc(16px * (1.33*1.33));
    --h2-height: calc(var(--h2)*1.77);
    
    /* --p :  calc(16px * 1.33); */
    --p :  calc(1rem * 1.33);
    --p-height: calc(var(--p)*1.77);
}
body {
    font-family: Raleway;
    color: #161616;
    font-size: 16px;
    line-height: calc(16*1.333px);

}


h1 {
    font-size: var(--h1);
    line-height: var(--h1-height);

}
h2 {
    font-size: --var(h2);
    line-height: 48.33px;

}

p {
    font-size: var(--p);
    line-height: var(--p-height);
    margin: 10px 0;
}
